/*
	
	Educoded ~ "Learn something new."
	Developed by Mathew Maione & Mark Ivanowich

	CSS Layout

		- Browser Defaults
		- App Defaults
		- Page Defaults
		- Header
		- Content (pages)
		- Footer
		- Responsive Design

*/

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('libs/editor.css');


/* Start ~ Browser Defaults */

	body {
	    padding: 0px;
	    margin: 0px;
	    outline: none;
	    -webkit-font-smoothing: antialiased;
	    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	    position: relative;
	    left: 0px;
	}

	/* this is used because changing the font for ace breaks the layout... */
	body:not(.edx-editor-holder) > div,
	body:not(.edx-editor-holder) > textarea {
	    font-family: 'Lato';
	}

	a {
	    text-decoration: none;
	}

	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="date"],
	textarea{
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    -webkit-appearance: none;
	    border-radius: 0px;

	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
	    transition: background-color 5000s ease-in-out 0s;
	    background: #fff;
	}

	textarea {
		resize: none;
	}

	button {
		border: none;
		outline: none;
	}

	button:focus, input:focus, textarea:focus {
	    outline: none;
	}

/* End ~ Browser Defaults */

/* Start ~ App Defaults */
	
	:root {
		--edx-blue: #06a1e5;
		--edx-cyan: #25ccc3;
		--edx-green: #62aa20;
		--edx-purple: #8660d9;
		--edx-yellow: #f7ce23;
		--edx-orange: #f98d2b;
	}

/* End ~ App Defaults */

/* Start ~ Page Defaults */

	.edx-wrapper {
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-box-orient: horizontal;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -moz-flex;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		-webkit-justify-content: center;
		height: inherit;
	}

	.edx-container {
		width: 1200px;
		max-width: 90%;
		margin: 0 auto;
	}

	.edx-15 {
	    -webkit-transition: all 0.15s ease-in-out;
	    -moz-transition: all 0.15s ease-in-out;
	    -o-transition: all 0.15s ease-in-out;
	    transition: all 0.15s ease-in-out;
	}

	.edx-25 {
	    -webkit-transition: all 0.25s ease-in-out;
	    -moz-transition: all 0.25s ease-in-out;
	    -o-transition: all 0.25s ease-in-out;
	    transition: all 0.25s ease-in-out;
	}

	.edx-logo {
		position: relative;
		width: 100%;
		height: 55px;
	}

	.edx-content {
	    font-family: 'Lato';
	    -webkit-font-smoothing: antialiased;
	    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	}

	.edx-page {
		padding-top: 90px;
	}

	.edx-angled-sections {
	    overflow: hidden;
	}

	.edx-angled-section:nth-child(even) {
		background: #f6f6f7;
	}

	.edx-angled-section:nth-child(odd) {
		background: linear-gradient(-35deg, rgb(201, 75, 75), rgb(247, 183, 51));
	}

	.edx-angled-section {
		/*min-height: 50vh;*/
		position: relative;
		padding: 150px 0px;
	}

	.edx-section-title {
	    font-size: 42px;
	    font-weight: 800;
	    text-align: center;
	    margin-bottom: 30px;
	}

	.edx-angled-section:first-child:before {
		display: none;
	}

	.edx-angled-section:before {
	    content: '';
	    background: inherit;
	    position: absolute;
	    width: 125vw;
	    height: 300px;
	    top: -125px;
	    left: -10%;
	    transform: rotate(-5deg);
	    z-index: 1;
	}

	.edx-angled-section-wrapper {
		position: relative;
	    top: -7.5vh;
	    z-index: 2;
	}

/* End ~ Page Defaults */

/* Start ~ Header */
	
	.edx-header {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 100;
	}

	.edx-header-top {
	    width: 100%;
	    height: 35px;
	}

	.edx-dark-theme .edx-header-top {
		background: #000;
	    color: #fff;
	    border-bottom: 1px solid rgba(255,255,255,0.25);
	}

	.edx-light-theme .edx-header-top {
		background: #fff;
	    color: #000;
	    border-bottom: 1px solid rgba(20,20,20,0.25);
	}

	.edx-header-top-info {
	    width: 150px;
	    font-size: 12px;
	    font-weight: 300;
	}

	.edx-header-top-cta {
		width: calc(100% - 300px);
		font-size: 12px;
		font-weight: 300;
	}

	.edx-header-top-social {
		width: 150px;
	}

	.edx-header-top-social-item {
		width: 22px;
	    height: 22px;
	    font-size: 12px;
	    margin: 0px 2px;
	    background: #232323;
	    color: #fff;
	    border-radius: 4px;
	}

	.edx-header-main {
		width: 100%;
		height: 55px;
	}

	.edx-dark-theme .edx-header-main {
		background: #000;
	}

	.edx-light-theme .edx-header-main {
		background: #fff;
	}

	.edx-header-logo {
		width: 55px;
	}

	.edx-header-logo img {
		width: 32px;
	}

	.edx-header-logo-container {
		width: 54px;
		height: 55px;
	}

	.edx-dark-theme .edx-header-logo-container {
		border-right: 1px solid rgba(255,255,255,0.25);
	}

	.edx-light-theme .edx-header-logo-container {
		border-right: 1px solid rgba(20,20,20,0.25);
	}

	.edx-header-menu {
		width: calc(100% - 110px);
	}

	.edx-header-menu-container {

	}

	.edx-header-menu-item {
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 2px;
		padding: 0px 4px;
		margin: 0px 8px;
	}

	.edx-dark-theme .edx-header-menu-item a {
		color: #fff;
	}

	.edx-light-theme .edx-header-menu-item a {
		color: #000;
	}

	.edx-header-sidebar {
		width: 55px;
	}

	.edx-header-sidebar-container {
		width: 54px;
		height: 55px;
	}

	.edx-dark-theme .edx-header-sidebar-container {
		border-left: 1px solid rgba(255,255,255,0.25);
	}

	.edx-light-theme .edx-header-sidebar-container {
		border-left: 1px solid rgba(20,20,20,0.25);
	}

	.edx-header-sidebar-lines {
	    width: 28px;
	    height: 21px;
	    padding: 0px 15px;
	    justify-content: flex-end;
	    cursor: pointer;
	}

	.edx-header-sidebar-line {
	    width: 100%;
	    height: 1px;
	}

	.edx-dark-theme .edx-header-sidebar-line {
		background: rgba(255,255,255,1);
	}

	.edx-light-theme .edx-header-sidebar-line {
		background: rgba(203,203,203,1);
	}

/* End ~ Header */

/* Start ~ Sidebar */

	.edx-sidebar-opened {
	    overflow: hidden;
	    left: -350px;
	}
		
	.edx-sidebar.active {
		right: 0px;
	}

	.edx-sidebar {
		position: fixed;
	    top: 0px;
	    right: -351px;
	    width: 350px;
	    height: 100%;
	    background: #fff;
	    border-left: 1px solid rgba(20,20,20,0.1);
	    z-index: 101;
	    justify-content: flex-start;
	    align-items: flex-start;
	}

	.edx-sidebar-menu {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 35px;
		border-bottom: 1px solid rgba(20,20,20,0.1);
	}

	.edx-sidebar-menu-item.active {
	    font-weight: 800;
	}

	.edx-sidebar-menu-item {
	    color: #333;
	    font-size: 10px;
	    letter-spacing: 2px;
	    font-weight: 500;
	    text-transform: uppercase;
	    width: calc(25% - 1px);
	    padding: 5px 0px;
	    border-right: 1px solid rgba(20,20,20,0.1);
	    text-align: center;
	    cursor: pointer;
	}

	.edx-sidebar-content {
	    width: 100%;
	    margin-top: 36px;
	}

	.edx-sidebar-section.active {
		display: block;
	}

	.edx-sidebar-section {
		display: none;
	    width: 100%;
	    height: calc(100vh - 36px);
	}

	.edx-sidebar-section-content {
		padding: 15px;
	}

	.edx-sidebar-overlay {
	    display: none;
	    position: fixed;
	    top: 0px;
	    left: 0px;
	    width: 100%;
	    height: 100%;
	    background: rgba(20,20,20,0.5);
	    z-index: 100;
	}

/* End ~ Sidebar */

/* Start ~ Content */
	
	/* Start ~ Content - Homepage */

		.edx-course-card {
		    margin: 10px;
		    background: #fff;
		}

		.edx-course-card-cover {
		    width: 100%;
		    height: 250px;
		    color: #fff;
			-moz-box-shadow: inset 0 0 250px rgba(20,20,20,0.15);
			-webkit-box-shadow: inset 0 0 250px rgba(20,20,20,0.15);
			box-shadow: inset 0 0 250px rgba(20,20,20,0.15);
		}

		.edx-course-card-html .edx-course-card-cover {
			background: linear-gradient(35deg, rgb(255, 128, 8), rgb(255, 200, 55));
			background: var(--edx-orange);
		}

		.edx-course-card-javascript .edx-course-card-cover {
			background: linear-gradient(35deg, rgb(193, 175, 17), rgb(255, 210, 0));
			background: var(--edx-yellow);
		}

		.edx-course-card-php .edx-course-card-cover {
			background: linear-gradient(35deg, rgb(103, 58, 183), rgb(173, 83, 137));
			background: var(--edx-purple);
		}

		.edx-course-card-cover-title {
		    font-size: 26px;
		    font-weight: 600;
		    text-transform: uppercase;
		    text-align: center;
		    letter-spacing: 2px;
		    margin-bottom: 4px;
		}

		.edx-course-card-cover-subtitle {
		    font-size: 12px;
		    text-align: center;
		}

		.edx-course-card-content {
		    padding: 20px;
		}

		.edx-course-card-description {
			font-size: 14px;
			font-weight: 300;
		}

	/* End ~ Content - Homepage */

/* End ~ Content */

/* Start ~ Responsive Design */
	
	/* Start ~ Responsive Design - Grid */

		/* Extra Small */
		.edx-xs-10,.edx-xs-20,.edx-xs-25,.edx-xs-30,.edx-xs-33,.edx-xs-40,.edx-xs-50,.edx-xs-60,.edx-xs-66,.edx-xs-70,.edx-xs-75,.edx-xs-80,.edx-xs-90,.edx-xs-100 {
			width: 100%;
		}

		/* Small */
		@media( min-width: 767px ) {
			.edx-sm-10 {width: 10%}
			.edx-sm-20 {width: 20%}
			.edx-sm-25 {width: 25%;}
			.edx-sm-30 {width: 30%;}
			.edx-sm-33 {width: 33.33%;}
			.edx-sm-40 {width: 40%;}
			.edx-sm-50 {width: 50%;}
			.edx-sm-60 {width: 60%;}
			.edx-sm-66 {width: 66.6%;}
			.edx-sm-70 {width: 70%;}
			.edx-sm-75 {width: 75%;}
			.edx-sm-80 {width: 80%;}
			.edx-sm-90 {width: 90%;}
			.edx-sm-100 {width: 100%;}
		}

		/* Medium */
		@media( min-width: 991px ) {
			.edx-md-10 {width: 10%}
			.edx-md-20 {width: 20%}
			.edx-md-25 {width: 25%;}
			.edx-md-30 {width: 30%;}
			.edx-md-33 {width: 33.33%;}
			.edx-md-40 {width: 40%;}
			.edx-md-50 {width: 50%;}
			.edx-md-60 {width: 60%;}
			.edx-md-66 {width: 66.6%;}
			.edx-md-70 {width: 70%;}
			.edx-md-75 {width: 75%;}
			.edx-md-80 {width: 80%;}
			.edx-md-90 {width: 90%;}
			.edx-md-100 {width: 100%;}
		}

		/* Large */
		@media( min-width: 1200px ) {
			.edx-lg-10 {width: 10%}
			.edx-lg-20 {width: 20%}
			.edx-lg-25 {width: 25%;}
			.edx-lg-30 {width: 30%;}
			.edx-lg-33 {width: 33.33%;}
			.edx-lg-40 {width: 40%;}
			.edx-lg-50 {width: 50%;}
			.edx-lg-60 {width: 60%;}
			.edx-lg-66 {width: 66.6%;}
			.edx-lg-70 {width: 70%;}
			.edx-lg-75 {width: 75%;}
			.edx-lg-80 {width: 80%;}
			.edx-lg-90 {width: 90%;}
			.edx-lg-100 {width: 100%;}
		}

	/* End ~ Responsive Design - Grid */

	/* Start ~ Responsive Design - Default */

		/* Small */
		@media( min-width: 767px ) {
			
		}

		/* Medium */
		@media( min-width: 991px ) {

		}

		/* Large */
		@media( min-width: 1200px ) {

		}

	/* End ~ Responsive Design - Default */

/* End ~ Responsive Design */